.button {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid #555;
    border-radius: 5px;
    color: #000;
    background: #ddd;
    cursor: pointer;
}



.button:active {
    background-color: #bbb;
}

.button_pressed {
    color: #fff;
    background: #333;
}